.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  pointer-events: none;
  /* Disable text selection  */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.overlay-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px var(--x-spacing);
}
.overlay-container h1,
.overlay-container h2 {
  max-width: 800px;
  padding-bottom: 10px;
  pointer-events: all;
}
.lower-panels {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-container {
  align-items: flex-end;
}
.hide-on-mobile {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-on-mobile {
    display: block;
  }
  .overlay-container h1,
  .overlay-container h2 {
    max-width: 600px;
    padding-bottom: 20px;
  }
  .lower-panels {
    flex-direction: row;
  }
  .topics,
  .sidebar-container {
    width: 50%;
  }

  .sidebar-container {
    display: flex;
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 1280px) {
  .overlay-container h1,
  .overlay-container h2 {
    max-width: 900px;
  }
}

/* animation effects */
.overlay-container {
  transition: 0.5s var(--smoothing);
  will-change: transform, opacity;
  opacity: 0;
  animation: FadeIn 0.7s var(--smoothing) forwards;
}
.hidden {
  animation: FadeOut 0.7s var(--smoothing) forwards;
}
@keyframes FadeOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
    opacity: 0;
  }
}
@keyframes FadeIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
