.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  pointer-events: none;
}
.overlay-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px var(--left-padding);
}
.overlay-container h1,
.overlay-container h2 {
  max-width: 800px;
  padding-bottom: 10px;
  pointer-events: all;
}
.lower-panels {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topics {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}
/* hide the first slide text options on mobile */

.sidebar-container {
  /* display: none; */
}
.hide-on-mobile {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-on-mobile {
    display: block;
  }
  .overlay-container h1,
  .overlay-container h2 {
    max-width: 600px;
    padding-bottom: 20px;
  }
  .lower-panels {
    flex-direction: row;
  }
  .topics,
  .sidebar-container {
    width: 50%;
  }

  .sidebar-container {
    display: flex;
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 1280px) {
  .overlay-container h1,
  .overlay-container h2 {
    max-width: 900px;
  }
}

/* animation effects */
.overlay-container {
  transition: 0.5s var(--smoothing);
}
.hidden {
  opacity: 0;
  transform: translateY(10px);
}
