:root {
  /* declare regular variables */
  --col-black: black;
  --col-white: white;
  --col-primary: #ed1f24;
  --col-gray: #e2e0e0;
  --col-text: #4a4a4a;
  --x-spacing: 5vw;
  --smoothing: cubic-bezier(0.7, 0, 0, 1);
  --max-width: 700px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* declare dark versions */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  scroll-behavior: smooth;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-primary);
  color: var(--col-text);
}

@media (prefers-color-scheme: dark) {
  html {
    /* the below will make it dark by default */
    /* color-scheme: dark; */
  }
}
a {
  text-decoration: none;
  color: var(--col-text);
}
.world-container {
  min-height: 100vh;
}
.icon-btn {
  display: inline-flex;
  align-items: center;
}
.icon-btn.icon--right img {
  margin-left: 4px;
}
/* typography */
h1,
.h1 {
  font-size: calc(3vw + 26px);
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1em;
  color: var(--col-black);
}
h3 {
  margin-top: 30px;
  font-size: calc(2.2vw + 20px);
  color: var(--col-black);
}
p {
  margin-top: 10px;
}
.block {
  padding-top: 20px;
  padding-bottom: 20px;
}
.center {
  text-align: center;
}
.center > * {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1080px) {
  h1,
  .h1 {
    font-size: 64px;
  }
  h3 {
	font-size: 24px;
	max-width: 700px;
	line-height: 1.2;
  }
}
.center {
  text-align: center;
}
.mega-link {
  font-weight: 700;
  text-decoration: underline;
  font-size: 25px;
  color: var(--col-black);
  padding: 20px;
}
