.wrapper {
  width: 100vw;
  height: 500px;
}
.fixed {
  width: inherit;
  height: inherit;
}
@media only screen and (min-width: 780px) {
  .wrapper {
    max-width: 1100px;
  }
}
@media only screen and (min-width: 1280px) {
  .wrapper {
    /* flex-grow: grow; */
    width: 50%;
    order: 1;
    height: 100vh;
    position: relative;
  }
  .fixed {
    /* width: 100%; */
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .wrapper > div {
    /* position: sticky; */
  }
}
